.App {
  text-align: left;
}

#container {
  display: flex;
  min-height: 90vh;
  min-width: 100vw;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  font-size: calc(10px + 2vmin);
  color: white;
}

menu li {
  list-style: none;
}

menu li:hover {
  background-color: #3333aa;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  min-width: 100vw;
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-sidebar {
  background-color: #225555;
  min-width: 20vw;
}

.App-content {
  background-color: #3333aa;
  min-width: 80vw;
}

.App-link {
  color: #61dafb;
}
